<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Veronica Pak">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <title>MonoMuse</title>
</head>
<body onload="addYear()">
    <div class="container">
        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
            <h1>MonoMuse</h1>
        </header>
        <nav class="nav-bar">
            <!-- Responsive nav bar icon -->
            <a href="javascript:void(0);" class="icon">Menu ☰</a>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
        </nav>
        <main class="main">
            <h2>Buy Tickets</h2>
            <div class="tickets-info-container two-part-section">
                <table class="tickets-table left-section">
                    <thead>
                        <tr>
                            <th>Ticket Type</th>
                            <th class="column-width-limit">Description</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Adult</td>
                            <td>General admission for ages 18 and over. Under 18 free of charge.</td>
                            <td>$18</td>
                        </tr>
                        <tr>
                            <td>Student</td>
                            <td>Student ID required</td>
                            <td>$10</td>
                        </tr>
                        <tr>
                            <td>Member</td>
                            <td>Member ID required</td>
                            <td>$15</td>
                        </tr>
                    </tbody>
                </table>
                <table class="calendar right-section">
                    <tr>
                        <th colspan="7"></th>
                    </tr>
                    <tr>
                        <th colspan="7">Select a Date</th>
                    </tr>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="date">1</td>
                        <td class="date">2</td>
                        <td class="date">3</td>
                        <td class="date">4</td>
                    </tr>
                    <tr>
                        <td class="date">5</td>
                        <td class="date">6</td>
                        <td class="date">7</td>
                        <td class="date">8</td>
                        <td class="date">9</td>
                        <td class="date">10</td>
                        <td class="date">11</td>
                    </tr>

                    <tr>
                        <td class="date">12</td>
                        <td class="date">13</td>
                        <td class="date">14</td>
                        <td class="date">15</td>
                        <td class="date">16</td>
                        <td class="date">17</td>
                        <td class="date">18</td>
                    </tr>
                    <tr>
                        <td class="date">19</td>
                        <td class="date">20</td>
                        <td class="date">21</td>
                        <td class="date">22</td>
                        <td class="date">23</td>
                        <td class="date">24</td>
                        <td class="date">25</td>
                    </tr>

                    <tr>
                        <td class="date">26</td>
                        <td class="date">27</td>
                        <td class="date">28</td>
                        <td class="date">29</td>
                        <td class="date">30</td>
                        <td class="date">31</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div id="tickets-btn-container">
                <a id="tickets-btn">BUY TICKETS</a>
            </div>
            <div class="checkout-form-container" id="checkout-form">
                <form>
                    <label for="name">Name: (required)</label><br>
                    <input type="text" id="name" name="name" required><br><br>
                    <label for="email">Email: (required)</label><br>
                    <input type="email" id="email" name="email" required><br><br>
                    <label for="dateOfVisit">Date of Visit: (required)</label><br>
                    <input type="date" id="dateOfVisit" name="DateOfVisit" required readonly><br><br>
                    <label for="ticketquantity">Ticket Quantity: (required)</label><br>
                    <input type="number" id="ticketquantity" name="ticketquantity" required><br><br>
                    <input type="submit" value="Submit" id="submit-form-btn">
                </form>
            </div>
        </main>
        <br>
        <footer class="footer">©<span id="copyYear"></span>MonoMuse. All rights reserved.</footer>
    </div>
</body>
</html>
