<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Veronica Pak">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <title>MonoMuse</title>
</head>
<body onload="addYear()">
    <div class="container">
        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
            <h1>MonoMuse</h1>
        </header>
        <nav class="nav-bar">
            <!-- Responsive nav bar icon -->
            <a href="javascript:void(0);" class="icon">Menu ☰</a>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
        </nav>
        <main class="main main-exhibitions">
            <h3>Exhibition 1: Encuentro (1959)</h3>
            <div class="two-part-section">
                <p class="left-section">Varo's Encuentro depicts a 
                    solitary figure moving through a narrow, dreamlike space, 
                    collecting small human forms from the surroundings. The 
                    scene suggests an inner journey of self-discovery, where 
                    lost or hidden parts of identity are being reclaimed. With 
                    muted tones and precise, surreal detail, the painting evokes 
                    a quiet, mystical atmosphere centered on introspection and 
                    transformation.</p>
                <img src="..\static\images\encuentro.jpg" class="right-section" alt="Encuentro by Remedios Varo">
            </div>
            <h3>Exhibition 2: Creación de las Aves (1957)</h3>
            <div class="two-part-section">
                <img src="..\static\images\creation_of_the_birds.jpg" class="left-section" alt="Creacion de las Aves by Remedios Varo">
                <div class="right-section">
                    <p>In Creation of the Birds, Remedios Varo 
                        depicts a mystical, owl-like figure engaged in the act of 
                        creation within a quiet, laboratory-like room. The figure 
                        uses a violin, a prism, and starlight to transform light 
                        into birds, blending artistic expression with scientific 
                        process. This fusion suggests that creativity is both 
                        intellectual and spiritual. </p>
                        <br>
                    <p>The carefully detailed, dreamlike environment reflects 
                        Varo’s interest in alchemy, knowledge, and transformation. 
                        Through this symbolic scene, the painting explores the idea 
                        of the artist as a creator who channels unseen forces into 
                        life, emphasizing imagination as a powerful, almost magical 
                        act. </p>
                </div>
            </div>

        </main>
        <br>
        <footer class="footer">©<span id="copyYear"></span>MonoMuse. All rights reserved.</footer>
    </div>
</body>
</html>
