<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Veronica Pak">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <title>MonoMuse</title>
</head>
<body onload="addYear()">
    <div class="container">
        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
            <h1>MonoMuse</h1>
            <br>
        </header>
        <nav class="nav-bar">
            <!-- Responsive nav bar icon -->
            <a href="javascript:void(0);" class="icon">Menu ☰</a>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
        </nav>
        <main class="main">
            <div class="gallery">
                <div class="main-gallery-image">
                    <img id="current-image" src="..\static\images\museum.jpg" alt="Gallery Image">
                    <div class="gallery-btns">
                        <button class="previous">&#10094;</button>
                        <button class="next">&#10095;</button>
                    </div>
                </div>
                <div class="gallery-images">
                    <img src="..\static\images\museum.jpg" class="gallery-image" alt="MonoMuse Museum Exterior">
                    <img src="..\static\images\museum2.png" class="gallery-image" alt="MonoMuse Museum Exterior">
                    <img src="..\static\images\museum3.png" class="gallery-image" alt="MonoMuse Museum Exterior">
                </div>
            </div>
            <div class="two-part-section">
                <!-- Mission statement -->
                <div class="left-section">
                    <h2>Mission Statement:</h2>
                    <p>MonoMuse is dedicated to exploring the evolving relationship between 
                        art, technology, and society. Our mission is to get people to 
                        notice the "Buy Tickets" button and take care of dragons.</p>
                </div>
                <!-- Milestones -->
                <div class="right-section">
                    <h2>Milestones:</h2>
                    <ul>
                        <li>2023: Remedios Varo exhibition released.</li>
                        <li>2018: Launch of a live dragon exhibition.</li>
                        <li>2016: MonoMuse has its opening day with a staggering 57 visitors.</li>
                    </ul>
                </div>
            </div>
            <!-- Support and donation options -->
            <h2>Support:</h2>
            <h3>Become a Member:</h3>
            <p><a href="./buytickets.html">Buy a member ticket</a>and you will automatically become a member of MonoMuse!</p>
            <h3>Donate:</h3>
            <ul>
                <li>PayPal: @MonoMuse</li>
                <li>Venmo: @MonoMuse</li>
            </ul>
            <p></p>
        </main>
        <br>
        <footer class="footer">©<span id="copyYear"></span>MonoMuse. All rights reserved.</footer>
    </div>
</body>
</html>
