/* DESIGN GUIDE */
/* Dark Purple: #1d1924 */
/* Mid Dark Purple: #4D4855 */
/* Middle Purple: #6F6580 */
/* Mid Bright Purple: #8D61D5 */
/* Bright Purple: #8E49FF */

* {
  padding: 5px;
  margin: 5px;
  background: #1d1924;
  color:  #f5f5f7;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  line-height: 1.5;
  border-radius: 0.2rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h1 {
  font-size: 5rem;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  margin-top: 5rem;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

nav a {
  text-decoration: none;
  color: #f5f5f7;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid transparent;
}

nav a:hover {
  border-color: #8E49FF;
}

img {
  border-radius: 1rem;
}

form * {
  margin: auto;
  text-align: center;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  width: fit-content;
}

footer {
  border-top: 1px solid rgba(245,245,247,.12);
  padding: 18px 16px;
  text-align: center;
  color: rgba(245,245,247,.72);
  }

.container {
  display: grid; 
  grid-template-areas:   
  'header header',
  'nav_bar nav_bar',
  'main main',
  'footer footer';
}

/* contains tickets table and calendar */
.tickets-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header {
  grid-area: "header"; 
}

.nav-bar {
  grid-area: "nav_bar"; 
}

.nav-bar .icon {
  display: none;
}

.main {
  grid-area: "main"; 
}

.main-exhibitions img {
  max-width: 100%;
}

/* for API-linked elements */
.embed-containers {
  display: flex;
  justify-content: center;
}

/* iframes on index page */
.index-iframes {
  width: 45rem;
  height: 27rem;
  border: none;
}

/* two-part grid style */
.two-part-section {
  display: grid;
  grid-template-areas: 
    'left-section right-section';
  margin: 0;
  padding-left: 0;
}

.left-section {
  grid-area: "left-section";
  margin: 0;
  padding: 0;
}

.right-section {
  grid-area: "right-section";
  margin: 0;
  padding: 0;
}

.visit-info {
  width: 50%;
}

#map-container iframe {
  width: 100%;
}

.footer {
  grid-area: "footer";
}

.active-nav-link {
  color:#8D61D5;    
}

/* Max. column width for tickets info. table */
.column-width-limit {
  width: 20rem;
}

.calendar td {
  text-align: center;
}

.calendar .date:hover {
  background-color: #6F6580;
}

.checkout-form-container {
  display: none;
}

.checkout-form-container.show {
  display: block;
}

.full-screen-img {
  width: 100%;
}

#tickets-btn-container {
  display: flex;
  justify-content: center;
}

/* Buy tickets page button: not clickable if date not yet selected */
#tickets-btn {
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color:#6F6580;
  border-color: transparent;
  font-size: 2em;
  text-align: center;
  text-decoration: None;
}

/* Button can be clicked */
#tickets-btn.clickable {
  background-color:#8E49FF;
  font-weight: bold;
}

#tickets-btn.clickable:hover {
  background-color: #8D61D5;
}

#logo {
  width: 13%;
  display: block;
}

/* long-intro on index page */
#long-intro {
  display: none;
}

#long-intro-read-less {
  display: none;
}

/* Mobile aspect ratio media query */
@media only screen and (max-width: 992px) {
  header h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  body {
    display: flex;
    justify-content: center;
    width: 100%
  }

  /* Responsive nav bar */
  .nav-bar a {
    display: none;
  }

  .nav-bar a.responsive {
    display: block;
  }

  .nav_bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

  .nav-bar .icon {
    display: block;
  }

  /* index page video */
  .index-iframes {
    width: 20rem;
    height: 12rem;
  }

  .two-part-section {
    display: flex;
    flex-direction: column;
  }

  .tickets-info-container * {
    margin: 0 auto;
  }

  #map-container, .visit-info {
    width: 100%;
    margin: auto;
  }

  #map-container iframe {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
}
