<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Veronica Pak">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <header>
        <h1>Explore</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
        <br>
    </header>
    <div class="main">
        <img src="..\static\images\museum.jpg">
        <p><strong>MISSION STATEMENT:</strong></p>
        <p>MonoMuse is dedicated to exploring the evolving relationship between 
            art, technology, and society. Our mission inspire curiosity and 
            creativity by showcasing innovative exhibitions that highlight how 
            digital tools, emerging technologies, and human imagination shape 
            the future of artistic expression.</p>
        <p><strong>MILESTONES:</strong></p>
        <ul>
            <li>2023: Expansion of the museum space and launch of international artist collaborations.</li>
            <li>2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</li>
            <li>2016: MonoMuse opens its doors with its first exhibition on digital storytelling.</li>
        </ul>
    </div>
    <br>
    <footer>© 2026 MonoMuse. All rights reserved.</footer>
</body>
</html>
